<% content_for :title, t("views.shared.page_titles.new_report") %>

<% breadcrumbs do %>
  <%= breadcrumb t("breadcrumbs.reports"), reporting_reports_path %>
  <%= breadcrumb t("breadcrumbs.new") %>
<% end %>

<div class="page-header mb-4 pb-3 border-bottom">
  <h2><%= t("views.shared.page_titles.new_report") %></h2>
  <p><%= t("views.shared.page_titles.report_subtitle") %></p>
</div>

<%= render "form", report: @report %>
